body {
}

.title {
    color: red;
    font-weight: bold;
    font-size: 20px;
}

.welcome-section {
    background-color: #67217A;
    color: white;
    width: 100%;
    height: 300px;
    padding: 15px 0;
}

.header-title {
    font-weight: bold;
    color: #67217A;
}

.skills ul {
    list-style: none;
    padding: 0;
}

.skills {
    position: relative;
    bottom: 50px;
    i {
          color: #67217A;
          font-size: 30px;
      }
}