@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div style="margin-top: -105px;">

    <div class="row justify-content-md-center text-center">
        <div class="col col-md-3 bg-white skills" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray;">
            <i class="bi bi-hdd-fill"></i>
            <h3>Backend</h3>
            <p>Trabajo desde el desarrollo, pruebas automaticas y puesta en produccion con entrega continua.</p>
            <p class="header-title">Stack:</p>
            <p> ASP.NET Core, SQL Server, NodeJs</p>
            <p class="header-title">Experiencia:</p>
            <ul>
                <li>Web APIs</li>
                <li>Web ASP.NET Core MVC</li>
                <li>Entity Framework</li>
                <li>Blazor</li>
                <li>Queries Espaciales</li>
                <li>Principios SOLID</li>
            </ul>
        </div>

        <div class="col col-md-3 bg-white skills" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray;">
            <i class="bi bi-code-slash"></i>
            <h3>Frontend</h3>
            <p>Puedo crear Frontends robustos los cuales cumplen con los requerimientos del negocio</p>
            <p class="header-title">Stack:</p>

            <p> Typescript, Javascript, C#</p>
            <p class="header-title">Experiencia:</p>
            <ul>
                <li>Angular</li>
                <li>React</li>
                <li>Nextjs</li>
                <li>Blazor WASM</li>
            </ul>
        </div>
    </div>
</div>