@{
    ViewData["Title"] = "Gracias";
}


<h1>Gracias por tu mensaje</h1>
<p>En breve nos pondremos en contacto contigo</p>
<div>
    <a asp-asp-controller="Home" asp-action="Index">Volver al Inicio</a>
</div>